#this is a config to run the host element pipeline analysis

#essential paths and environment variables
source_directory=/path/to/host_element_pipeline_v2
conda_env_prefix=/path/to/opt/anaconda3/envs/mmseqs2_JOSS


