#this is a config to run the host element pipeline analysis
#see README.md for more information

#must set
source_directory=path/to/mmseqs2_hostElementPipeline/host_element_pipeline_v2
conda_env_prefix=path/to/opt/anaconda3/envs/mmseqs2_JOSS

#mode (local, slurm)
mode=slurm

#mmseqs settings
#base host options: Human, Beef, Chicken or Pork - header: Sample_Name\tHost
base_host=Human

#do not touch, unless you know what you are doing
cov_modes_array=1 2
max_seq_lengths_array=10000 35283 65535

#slurm settings
slurm_cpus_per_job=1
slurm_memory_per_job=16G
slurm_partition=project
max_jobs_per_array=12